# General
**/__pycache__
bcftools-1.9.tar.bz2
run/bedtools
.vscode/
.venv/
ai_marrvel_env/
.DS_Store
*/.DS_Store
test_data/
test_ref/
test_output/

# Nextflow Related
.nextflow*
.nextflow/
.nf-test/
.nf-test.log
work/
out/
trace-*txt
report-*html
params.yaml

# Ignore R history and session files
.Rhistory
.RData
