nextflow.enable.dsl=2

params {
    run_id         = 1
    ref_ver        = "hg19"
    ref_dir        = ""
    bed_filter     = ""
    exome_filter   = false
    usageFile      = "${projectDir}/docs/source/nf_usage.txt"
    scriptChunking = "${projectDir}/scripts/split_chunks.py"
    scriptAnnot    = "${projectDir}/scripts/annotation/*.py"
    help           = false
    version        = false
}

docker.enabled = true

process {
    beforeScript = "source ${projectDir}/ai_marrvel_env/bin/activate"
    cpus = 2 
    memory = { 25.GB * task.attempt }
    errorStrategy = { task.exitStatus in [143,137,104,134,139,140] ? 'retry' : 'finish' }
    maxRetries = 5
    container = "chaozhongliu/aim-lite:latest"
    cache = "lenient"
}
